body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.index2 {
  width: 100%;
  height: 1136px;
  position: relative;
  background: url("../images/i2_bg.png") repeat-x;
}
.index2 .i2_title {
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 48px;
  color: #fff;
  padding-top: 50px;
}
.index2 .i2_title .i2_title_h2 {
  width: 200px;
  height: 70px;
  background: url("../images/i2_title.png") no-repeat;
  background-size: 50px;
  position: absolute;
  left: 40%;
  top: 65px;
}
.index2 .i2_title2 {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}
.index2 .i2_title2 .m2_nbg {
  position: absolute;
  width: 482px;
  height: 804px;
  background: url("../images/m2_nbg.png") no-repeat;
  background-size: 100%;
  left: 110px;
  top: -60px;
  color: #fff;
}
.index2 .i2_title2 .m2_nbg .span1 {
  position: absolute;
  top: 222px;
  left: 192px;
  font-size: 14px;
}
.index2 .i2_title2 .m2_nbg .span2 {
  position: absolute;
  font-size: 18px;
  top: 222px;
  left: 250px;
}
.index2 .i2_title2 .m2_nbg .a1 {
  position: absolute;
  top: 258px;
  left: 115px;
  color: #61cef8;
  font-size: 14px;
}
.index2 .i2_title2 .m2_nbg .a2 {
  width: 150px;
  position: absolute;
  top: 300px;
  left: 95px;
  font-size: 14px;
  width: 280px;
  height: 238px;
  display: block;
}
.index2 .i2_title2 .m2_nbg .a2 img {
  width: 100%;
  height: 100%;
}
.index2 .a3 {
  width: 691px;
  height: 270px;
  position: absolute;
  left: 600px;
  border: 1px solid #61cef8;
  border-bottom: 0;
  padding: 15px;
  top: 100px;
}
.index2 .a3 img {
  width: 100%;
}
.index2 .list {
  position: relative;
  width: 100%;
  height: 100%;
}
.index2 .list .li1 {
  width: 675px;
  height: 85px;
  overflow: hidden;
  padding: 23px;
  border: 1px solid #61cef8;
  border-top: none;
  position: absolute;
  top: 400px;
  right: -43px;
  z-index: 50;
  font-size: 12px;
}
.index2 .list .li1 .i2_date {
  width: 92px;
  height: 92px;
  color: #fff;
  float: left;
  margin-right: 15px;
  font-size: 40px;
  text-align: center;
  border: #61cef8 1px solid;
  background-color: #61cef8;
}
.index2 .list .li1 .i2_date h3 {
  color: #89ddfd;
  font-size: 18px;
  background-color: #fff;
  height: 27px;
  line-height: 27px;
  font-weight: bold;
  margin-bottom: 6px;
}
.index2 .list .li1 a {
  color: #000;
}
.index2 .list .li1 a h2 {
  font-size: 14px;
  margin-bottom: 5px;
}
.index2 .list .li1 a p {
  font-size: 12px;
  text-indent: 2em;
}
.index2 .list .li2 {
  width: 675px;
  height: 85px;
  overflow: hidden;
  padding: 23px;
  border: 1px solid #61cef8;
  position: absolute;
  top: 560px;
  right: -42px;
  z-index: 50;
  font-size: 12px;
}
.index2 .list .li2 .i2_date {
  width: 92px;
  height: 92px;
  color: #fff;
  float: left;
  margin-right: 15px;
  font-size: 40px;
  text-align: center;
  border: red 1px solid;
  background-color: red;
}
.index2 .list .li2 .i2_date h3 {
  color: red;
  font-size: 18px;
  background-color: #fff;
  height: 27px;
  line-height: 27px;
  font-weight: bold;
  margin-bottom: 6px;
}
.index2 .list .li2 a {
  color: #000;
}
.index2 .list .li2 a h2 {
  font-size: 14px;
  margin-bottom: 5px;
}
.index2 .list .li2 a p {
  font-size: 12px;
  text-indent: 2em;
}
.index2 .list .li3 {
  width: 88%;
  height: 85px;
  overflow: hidden;
  padding: 23px;
  border: 1px solid #61cef8;
  position: absolute;
  top: 740px;
  right: -42px;
  z-index: 50;
  font-size: 12px;
}
.index2 .list .li3 .i2_date {
  width: 92px;
  height: 92px;
  color: #fff;
  float: left;
  margin-right: 15px;
  font-size: 40px;
  text-align: center;
  border: #7dcd2f 1px solid;
  background-color: #7dcd2f;
}
.index2 .list .li3 .i2_date h3 {
  color: #7dcd2f;
  font-size: 18px;
  background-color: #fff;
  height: 27px;
  line-height: 27px;
  font-weight: bold;
  margin-bottom: 6px;
}
.index2 .list .li3 a {
  color: #000;
}
.index2 .list .li3 a h2 {
  font-size: 14px;
  margin-bottom: 5px;
}
.index2 .list .li3 a p {
  font-size: 12px;
  text-indent: 2em;
}
.index2 .a4 {
  position: absolute;
  top: 890px;
  right: -65px;
}
.index2 .a4 img {
  width: 80%;
}
